* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
}

body{
    background-color: rgb(22, 24, 5);

}

.calculator{
    white-space: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(255, 0, 255);
}

table td{
    display: inline-block;
}

.btn{
    margin: 3px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}

.btn:hover{
    background-color: white;
    color: black;
}

.ac{
    background-color: white;
    color: black;
}

.ac:hover{
    background-color: rgb(90, 88, 88);
}

.especial{
    background-color: rgb(90, 88, 88);
}

.especial:hover{
    background-color: white;
    color: black;
}

.igual{
    background-color: white;
    color: black;
}

.igual:hover{
    background-color: rgb(90, 88, 88);
}

.result {
    height: 100px;
    color: black;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(1, 38, 39);
}

